@font-face {
    font-family: "Jost";
    src: url("../../assets/fonts/Jost-Thin.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Jost";
    src: url("../../assets/fonts/Jost-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Jost";
    src: url("../../assets/fonts/Jost-Medium.ttf") format("truetype");
    font-weight: 500;
}




@font-face {
    font-family: "Caveat";
    src: url("../../assets/fonts/Caveat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Caveat";
    src: url("../../assets/fonts/Caveat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Caveat";
    src: url("../../assets/fonts/Caveat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Caveat";
    src: url("../../assets/fonts/Caveat-Regular.ttf") format("truetype");
    font-weight: 400;
}

