<div class="container-lg">
    <div class="row logo-wrap">
        <div class="col">
            <a href="#" class="logo">
                <img src="img/logo1.png" alt="logo Razor">
                <div class="logo__sub">Официальный дистрибьютор</div>
            </a>
        </div>
    </div>
    <div class="header__mobile">
        <div class="header__burger"></div>
        <div class="basket basket-mobile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-basket2" viewBox="0 0 16 16">
                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
            </svg>
            <div class="basket__count count-label">2</div>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__top">
            <div class="row">
                <div class="header__subtitle col-md-2">
                    <p>Доставка американских <br>самокатов по всей России</p>
                </div>
                <div class="header__phone col-12 col-lg-4 col-xl-2">
                    <a href="tel:+74955183699">+7 (495) 518 36 99</a>
                    <div class="header__phone-sub">
                        <span class="phone-sub">Прием заказов</span><span> с 09:00 до 21:00</span>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="header__loc col-lg-2 col-12">
                    <select class="select-city">
                        <option value="1">Москва</option>
                        <option value="2" selected>Санкт-Петербург</option>
                        <option value="3">Новосибирск</option>
                        <option value="4">Екатеринбург</option>
                        <option value="5">Казань</option>
                        <option value="6">Нижний Новгород</option>
                        <option value="7">Челябинск</option>
                        <option value="8">Самара</option>
                        <option value="9">Омск</option>
                        <option value="10">Ростов-на-Дону</option>
                        <option value="11">Красноярск</option>
                    </select>
                </div>
                <div class="header__search col-lg-2 col-12">
                    <form action="" class="form">
                        <div class="form__img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </div>

                        <input type="search" class="form__search" placeholder="Поиск">
                    </form>
                </div>
            </div>
        </div>

        <div class="header__bottom">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <ul class="nav">
                        <li class="nav-item nav__catalogue">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-grid" viewBox="0 0 16 16">
                                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                                </svg>
                                Каталог товаров
                            </a>
                            <ul class="catalogue__list">
                                <li class="arrow-back">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16
                                        0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1
                                        .708.708L5.707 7.5H11.5z"/>
                                    </svg>
                                </li>
                                <li data-item='0' class="dropdown-item">
                                    <a href="#">Самокаты</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">A6</a></li>
                                        <li><a href="#">A3</a></li>
                                        <li><a href="#">A5 Air</a></li>
                                        <li><a href="#">A5 Lux</a></li>
                                        <li><a href="#">A5 Prime</a></li>
                                        <li><a href="#">A Light Up</a></li>
                                        <li><a href="#">A125 GS</a></li>
                                        <li><a href="#">Wild Ones</a></li>
                                        <li><a href="#">Carbon Lux</a></li>
                                        <li><a href="#">A Special Edition</a></li>
                                        <li><a href="#">Lil Tek</a></li>
                                        <li><a href="#">Lil Pop</a></li>
                                        <li><a href="#">Tekno</a></li>
                                        <li><a href="#">B120</a></li>
                                        <li><a href="#">Beast</a></li>
                                        <li><a href="#">Beast V2</a></li>
                                        <li><a href="#">Beast V4</a></li>
                                        <li><a href="#">Powerwing DLX</a></li>
                                        <li><a href="#">Powerwing sweet Pea</a></li>
                                    </ul>
                                </li>
                                <li data-item='1' class="dropdown-item">
                                    <a href="#">Ролики</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">Jetts</a></li>
                                        <li><a href="#">Jetts Mini</a></li>
                                        <li><a href="#">Turbo Jetts</a></li>
                                        <li><a href="#">Jetts Heel Wheels</a></li>
                                    </ul>
                                </li>
                                <li data-item='2' class="dropdown-item">
                                    <a href="#">Дрифт</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">Drift Rider</a></li>
                                        <li><a href="#">PowerRider 360</a></li>
                                        <li><a href="#">Powerwing DLX</a></li>
                                        <li><a href="#">PowerWing Sweet Pea</a></li>
                                    </ul>
                                </li>
                                <li data-item='3' class="dropdown-item">
                                    <a href="#">Электросамокаты</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">E 300</a></li>
                                        <li><a href="#">E300S</a></li>
                                        <li><a href="#">Power A2</a></li>
                                        <li><a href="#">Power A5</a></li>
                                        <li><a href="#">E Prime Air</a></li>
                                        <li><a href="#">Power Core E90</a></li>
                                        <li><a href="#">Power Core E90 Glow</a></li>
                                        <li><a href="#">Power Core E100</a></li>
                                        <li><a href="#">Power Core E100S</a></li>
                                    </ul>
                                </li>
                                <li data-item='4' class="dropdown-item">
                                    <a href="#">Электробайки</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">E Punk</a></li>
                                        <li><a href="#">MX350</a></li>
                                        <li><a href="#">MX650</a></li>
                                        <li><a href="#">RSF350</a></li>
                                        <li><a href="#">Drift Rider</a></li>
                                        <li><a href="#">SX350 McGrath</a></li>
                                        <li><a href="#">PowerRider 360</a></li>
                                        <li><a href="#">Pocket Mod Betty</a></li>
                                        <li><a href="#">Mini Mod</a></li>
                                    </ul>
                                </li>
                                <li data-item='5' class="dropdown-item">
                                    <a href="#">Скейтборды</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">RipSter Air</a></li>
                                        <li><a href="#">RipStik Bright</a></li>
                                        <li><a href="#">RipStik Electric</a></li>
                                        <li><a href="#">RipSurf</a></li>
                                        <li><a href="#">Cruiser</a></li>
                                    </ul>
                                </li>
                                <li data-item='6' class="dropdown-item">
                                    <a href="#">Гироскутеры</a>
                                    <ul class="catalogue__list-sub">
                                        <li><a href="#">Hovertrax 2.0</a></li>
                                        <li><a href="#">Hovertrax 1.5</a></li>
                                        <li><a href="#">Hovertrax X-Ray</a></li>
                                        <li><a href="#">Hovertrax Prizma</a></li>
                                    </ul>
                                </li>
                                <li data-item='7' class="dropdown-item">
                                    <a href="#">Аксессуары и детали</a>
                                    <ul class="catalogue__list-sub">
                                        <li class="catalogue__item-sub"><a href="#">Сумка для RipStik</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Сумка для самоката A6</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Сумка для самоката A5 Lux
                                            (Air/DLX)</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Сумка-чехол для самоката</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Сумка-рюкзак для гироскутера
                                            Hovertrax 2.0</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Чехол для самоката A5 Lux
                                            (Air/DLX) и A6</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Картридж для Jetts</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Картридж для Spark</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Зимний шлем защитный с
                                            фломастерами Wipeout</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Шлем с фломастерами Wipeout</a>
                                        </li>
                                        <li class="catalogue__item-sub"><a href="#">Замок Crazy Safety</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Перчатки Crazy Safety </a></li>
                                        <li class="catalogue__item-sub"><a href="#">Звонок Crazy Safety</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Шлем Crazy Safety</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Защита колен и локтей Crazy
                                            Safety</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Комплект защиты Wipeout</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Хомут на 3 болтах</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Хомут на 4 болтах</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Руль Ultra Pro</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Дека Ultra Pro</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Дека Phase Two X</a></li>
                                        <li class="catalogue__item-sub"><a href="#">Колёса 200 мм. для самоката</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Доставка и оплата</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Оптовикам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Отзывы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="bask-comp col">
                    <a href="#" class="compare" title="Добавить товар для сравнения">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.3429 5.4433H12.7423V4.32594C13.6062 4.01953 14.2268 3.19447 14.2268 2.2268C14.2268 0.998944 13.2279 0 12 0C10.7721 0 9.7732 0.998944 9.7732 2.2268C9.7732 3.19447 10.3938 4.01953 11.2577 4.32594V5.4433H3.65706L0 13.4626V13.6239C0 15.9035 1.85463 17.7582 4.13433 17.7582C6.41404 17.7582 8.26867 15.9036 8.26867 13.6239V13.4626L5.28866 6.92784H11.2577V19.5464H7.68292L6.19838 24H17.8016L16.317 19.5464H12.7423V6.92784H18.7113L15.7313 13.4626V13.6239C15.7313 15.9035 17.5859 17.7582 19.8656 17.7582C22.1453 17.7582 24 15.9035 24 13.6238V13.4626L20.3429 5.4433ZM12 1.48454C12.4093 1.48454 12.7423 1.81752 12.7423 2.2268C12.7423 2.63609 12.4093 2.96907 12 2.96907C11.5907 2.96907 11.2577 2.63609 11.2577 2.2268C11.2577 1.81752 11.5907 1.48454 12 1.48454ZM6.37212 12.8816H1.89659L4.13438 7.97448L6.37212 12.8816ZM15.7419 22.5155H8.25808L8.75292 21.0309H15.247L15.7419 22.5155ZM19.8657 7.97448L22.1035 12.8816H17.6279L19.8657 7.97448Z"
                                  fill="#2D2D2D"/>
                        </svg>
                        <span>Сравнение</span>
                        <div class="compare__count count-label">2</div>
                    </a>
                    <div class="basket">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-basket2" viewBox="0 0 16 16">
                            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                        </svg>
                        Корзина
                        <div class="basket__count count-label">2</div>
                    </div>
                    <div class="header__loc">
                        <label for="select-sity">Город</label>
                        <select id="select-sity" class="select-city">
                            <option value="1">Москва</option>
                            <option value="2" selected>Санкт-Петербург</option>
                            <option value="3">Новосибирск</option>
                            <option value="4">Екатеринбург</option>
                            <option value="5">Казань</option>
                            <option value="6">Нижний Новгород</option>
                            <option value="7">Челябинск</option>
                            <option value="8">Самара</option>
                            <option value="9">Омск</option>
                            <option value="10">Ростов-на-Дону</option>
                            <option value="11">Красноярск</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>